body, h1, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.section {
    border: 1px solid #000;
    margin: 10px;
    padding: 50px;
    background-color: #f0f0f0;
    float: left;
    width: 30%;
    box-sizing: border-box;
    position: relative;

}
.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}
@media screen and (max-width: 991px) {
    /* Tablet View */
    .section {
        width: 48%; /* Two sections in a row */
        margin: 1%; /* Adjust margin for spacing */
    }

    .section:nth-child(3) {
        clear: both; /* Start a new row for the third section */
    }
}

@media screen and (max-width: 767px) {
    /* Mobile View */
    .section {
        width: 100%; /* One section in a row */
        margin: 0; /* No margin */
        clear: both; /* Start a new row for each section */
    }
}